.App {
  text-align: center;
}

.header {
  background-color: #61dafb;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.footer {
  background-color: black;
  height: 300px;
  font-size: 10px;
  color: white;
  margin-top: 20px;
}

ul#menu li {
  display: inline;
  color:green;
  margin: 10px;
}

ul#menu {
  margin: 0px;
  padding: 0px;

}

#block{
  display: inline-block;

}

.link {
  color: #61dafb;
}
.account{
  margin: 0px;
  padding: 15px;
  border: 1px solid black
}

div#logo h1{
  font-size: 100px;

  
}

div#logo2 h1{
 
  background-color: green;

}

#content{
  background-color: white;
  border: solid 1px black;
}